<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/07/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [1]:
# write your answer here
x = 'Computational Methods'
length = len(x)
print(length)

21

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [2]:
# write your answer here
String  = 'google.com'
res = dict()
for i in String:
    if i in res.keys():
        continue
    else:
        res[i]=String.count(i)
print(res)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [3]:
# write your answer here
a =[1,2,3,4,5,6,7,8,9]
res = sum(a)
print(res)

45

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [4]:
# write your answer here
word = 'restart'
result=''
for i in word:
    if i=='r' and i in result:
        result+='$'
    else:
        result+=i
result

'resta$t'

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [6]:
# write your answer here
a = int(input())
b = int(input())
s = 3.14 * (1+a/b)**3
s

2
3

14.537037037037033

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [7]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
result = {**dic1, **dic2, **dic3}
result

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [8]:
# write your answer here
x = (1,2,3)
a = int(input())
print(a in x)

4
False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [9]:
# write your answer here
a={1,2,3}
print(max(a))
print(min(a))

3
1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [10]:
# write your answer here
import random
Total_Groups = 6
student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
length = len(student_list)/6
l=len(student_list)
for i in range(1, Total_Groups+1):
    print("-------------------------------")
    print("group {0}".format(i) )
    
    for j in range(int(length)):
        ind = random.randint(0,l-1)
        print(student_list[ind])
        student_list.remove(student_list[ind])
        l=l-1

-------------------------------
group 1
ds0814
sg1297
sb1357
sk1458
pr0353
-------------------------------
group 2
sk1386
ja0964
av0659
fh0141
dr0609
-------------------------------
group 3
vb0218
bg0320
gn0108
nv0234
aos0040
-------------------------------
group 4
ms1500
sc1229
ak0934
sm1907
ak0956
-------------------------------
group 5
sk1313
nm0618
kg0470
kg0569
hy0232
-------------------------------
group 6
vm0377
sk1390
sm1640
jl1252
sa1198

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [11]:
# write your answer here
a=[1,2,3,4,5,6]
res=[]
dup=[]

for i in a:
    if i in res:
        dup.append(i)
    else: 
        res.append(i)
if len(a) == len(res):
    print(-1)
else:
    print(dup)

-1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [13]:
# write your answer here

from datetime import date, timedelta
def sunday(year):
       dte = date(year, 1, 1)      
       dte += timedelta(days = 6 - dte.weekday())  
       while dte.year == year:
          yield dte
          dte += timedelta(days = 7)
            
          
for s in sunday(2020):
   print(s)

2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-03-01
2020-03-08
2020-03-15
2020-03-22
2020-03-29
2020-04-05
2020-04-12
2020-04-19
2020-04-26
2020-05-03
2020-05-10
2020-05-17
2020-05-24
2020-05-31
2020-06-07
2020-06-14
2020-06-21
2020-06-28
2020-07-05
2020-07-12
2020-07-19
2020-07-26
2020-08-02
2020-08-09
2020-08-16
2020-08-23
2020-08-30
2020-09-06
2020-09-13
2020-09-20
2020-09-27
2020-10-04
2020-10-11
2020-10-18
2020-10-25
2020-11-01
2020-11-08
2020-11-15
2020-11-22
2020-11-29
2020-12-06
2020-12-13
2020-12-20
2020-12-27